<div class="container">
<h3>New Trip</h3>
  <%= simple_form_for @trip do |f| %>
    <%= f.simple_fields_for :trip_photos do |p| %>
      <%= p.input :photo, label: "Images", as: :file, input_html: { multiple: true } %>
      <%= p.input :photo_cache, as: :hidden %>
    <% end %>
    <%= f.input :name %>
    <%= f.input :destination, input_html: { id: 'address_input' }  %>
    <%= f.input :departing_from %>
    <%= f.input :description %>
    <%= f.input :funding_total, label: 'Total funding amount needed' %>
    <%= f.input :date_arriving, html5: true %>
    <%= f.input :date_leaving, html5: true  %>
    <hr>
    <h2>Trip Ticket:</h2>
    <%= f.input :ticket_name %>
    <%= f.input :ticket_description %>
    <%= f.input :ticket_quantity %>
    <p>Price will be automatically calculated</p>

    <%= f.button :submit %>
  <% end %>
</div>

