<div class="container order-container">
  <div class="row">
  	<div class="col-sm-12 order-complete">
  	  <p><i class="far fa-check-circle"></i> Order Complete!</p>
  	  <hr>
  	</div>
    <div class="col-sm-5 order-image" style="background-image: url('<%= @order.activity.activity_photos.first.photo %>');">
    </div>
    <div class="col-sm-7 order-info">
      <h1><%= @order.activity.name %></h1>
      <hr>
      <h4><%= @order.activity.date.strftime("%d-%m-%y") %></h4>
      <p><%= @order.activity.description %></p>
      <hr>
      <h5>Number Of Tickets: <%= @order.number_of_orders %></h5>
      <hr>
      <h3>Amount: <%= humanized_money_with_symbol(@order.number_of_orders * @order.amount) %></h3>
      <hr>
      <% @order.tickets.each do |ticket| %>
        <% if ticket.ticket_used == false %>
          <%= link_to "View Ticket", ticket_path(ticket), class: 'btn btn-primary' %>
        <% else %>
          <button class="btn btn-primary" disabled>View Ticket</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

