<% @activities.each do |activity| %>
  <div class="col-sm-6 default-card">
    <%= link_to activity_path(activity) do %>
      <div class="default-card-image" style="background-image: url('<%= activity.activity_photos.first.photo %>');">
        <% if activity.date == Date.tomorrow %>
          <div class="ending-soon">
            <h4>Ending Soon!</h4>
          </div>
        <% elsif activity.date == Date.today %>
          <div class="ending-soon">
           <h4>Ending Today!</h4>
          </div>
        <% elsif activity.date < Date.today %>
          <div class="activity-ended">
            <h4>Activity Ended!</h4>
          </div>
        <% end %>
      </div>
      <div class="default-card-content">
        <h3><%= activity.name %></h3>
        <p>
          <%= activity.address %>
          <br>
          <%= humanized_money_with_symbol(activity.price) %> per person
          <br>
          <%= activity.date.strftime("%d-%m-%y") %>
          <br>
          <i class="fas fa-user"></i> <%= @activities.first.orders.count %>
        </p>
        <p>
          <% if Review.where(activity: activity).count == 0 %>
            <p>No Reviews Yet</p>
          <% else %>
            <% Review.where(activity: activity).average(:rating).to_i.times do %>
              <i class="fas fa-star"></i>
            <% end %> <%= activity.reviews.count %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>



