<div class="container payment-container">
  <div class="row">
    <div class="col-sm-5 payment-image" style="background-image: url('<%= @order.flat.flat_photos.first.photo %>');">
    </div>
    <div class="col-sm-7 payment-info">
      <h1><%= @order.flat.name %></h1>
      <hr>
      <h4>From: <%= @order.flat_booked_start.strftime("%d-%m-%y") %> until <%= @order.flat_booked_end.strftime("%d-%m-%y") %></h4>
      <p><%= @order.flat.description %></p>
      <hr>
      <h5>Number Of Guests: <%= @order.number_of_guests %></h5>
      <h5>Price Per Day: <%= humanized_money_with_symbol(@order.flat.price)%></h5>
      <hr>
      <h3>Amount: <%= humanized_money_with_symbol(@order.amount) %></h3>
      <%= form_tag order_payments_path(@order) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="<%= @order.flat.name %>"
          data-email="<%= current_user.email %>"
          data-description="<%= @order.flat.description %>"
          data-amount="<%= @order.amount_cents %>"
          data-currency="<%= @order.amount.currency %>">
        </script>
      <% end %>
    </div>
  </div>
</div>

