<div class="row">
  <% @users.each do |user| %>
    <div class="col-sm-3 profile-card-container">
      <%= link_to profile_path(user) do %>
        <div class="profile-card">
          <div class="profile-card-image" style="background-image: url('<%= user.profile_picture %>');">
          </div>
          <div class="profile-card-content">
            <h4><%= user.first_name %> <%= user.last_name %></h4>
            <hr>
            <h5><%= user.email %></h5>
            <hr>
          </div>
          <div class="friend-status">
            <%= render 'friends/add_friend', user: user %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>